body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

/* App.css */
.movie-poster {
	transition: transform 0.3s;
	cursor: pointer;
  }
  
  .movie-poster:hover {
	transform: scale(1.05);
  }
  
  .movie-poster .overlay {
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .movie-poster:hover .overlay {
	opacity: 1;
  }
  
  .btn-outline-light {
	opacity: 0.8;
  }
  
  .btn-outline-light:hover {
	opacity: 1;
  }